<html>

    <head>
        <title>
            <%= title%>
        </title>
    </head>

    <body>
        <header>
            Page Header
        </header>

        <h1>Codeial /User Profile </h1>
        <span>
            🍏
        </span>

        <footer>
            Page Footer 
        </footer>

    </body>
</html>